{% extends 'adminapp/base.html' %}
{% load static %}
{% load get_url_tags %}

{% block content %}
    <div class="users_list" style="display: flex;
    justify-content: space-around;
    flex-wrap: wrap;">
        {% for shop_user in object_list %}
            {% if not shop_user.is_active %}
                <div class="user_name">
                    <p><strong>{{ shop_user.username }}</strong></p>
                    <p>
                        {% if shop_user.first_name %}
                            <b>{{ shop_user.first_name|capfirst }}</b>
                            {% if shop_user.last_name %}
                                <p>{{ shop_user.last_name|capfirst }}</p>
                            {% endif %}
                        {% endif %}
                    </p> -> удален
                </div>
                <a href="{% url 'adminapp:user_update' shop_user.pk %}" class="btn btn-primary">
                            редактировать
                </a>
            {% else %}
                <div class="user_record {% if not shop_user.is_active %}style='opacity:0.5;'{% endif %}">
                    <img src="{{ shop_user.user_avatar|url_user_img }}"
                         alt="{{ shop_user.username }}">
                    <div class="user_role">
                        {% if shop_user.is_superuser %}
                            администратор
                        {% else %}
                            пользователь
                        {% endif %}
                        <a href="{% url 'adminapp:user_update' shop_user.pk %}"
                           class="btn btn-primary">
                            редактировать
                        </a>
                        <a href="{% url 'adminapp:user_delete' shop_user.pk %}"
                           class="btn btn-danger">
                            удалить
                        </a>
                    </div>
                    <div class="user_name">
                        <p><strong>{{ shop_user.username }}</strong></p>
                        <p>
                            {% if shop_user.first_name %}
                                <b>{{ shop_user.first_name|capfirst }}</b>
                                {% if shop_user.last_name %}
                                    <p>{{ shop_user.last_name|capfirst }}</p>
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="user_age">
                        age:<br>
                        {{ shop_user.age_user }} лет
                    </div>
                    <div class="user_email">
                        email:<br>
                        {{ shop_user.email }}
                    </div>
                    <div class="user_lastlogin">
                        logged:<br>
                        {{ shop_user.last_login }}
                    </div>
                </div>
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}