<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dz_05 | Nikita Savchenko</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="app" class="conteiner">
        <div class="menu">
            <nav class="navbar navbar-light bg-light" style="justify-content: start;">
                <a href="index.html"><img src="img/icon-hover.png" width="30" height="30" class="d-inline-block align-top" alt=""></a>
                <input type="text" id="search" placeholder="поиск по сайту ..." v-model="search">
                <button class="cart-button" type="button" v-on:click="searchItemHandler">Искать</button>
                <button class="cart-button" type="button" v-on:click="showUserCart">Ваша Корзина</button>
            </nav>
        </div>
        <div class="content">
            <div class="item_list" v-on:click="buyItemHandler">
                <div class="item" v-for="good in filteredItems">
                    <div class="item_img"><img src="img/goods.png" alt=""></div>
                    <div class="item_h4">{{good.product_name}}</div>
                    <div>{{good.short_desc}}</div>
                    <div class="item_p">{{good.price}}</div>
                    <button type="button" v-bind:data-id="good.id_product">Купить</button>
                </div>
            </div>
            <div class="bin" v-if="isVisibleCart">
                <div class="items_list" v-if="itemsInBin.length>0">
                    <p><b>Товары в корзине:</b></p>
                    <ul id="example-1">
                        <li v-for="good in itemsInBin">
                            {{ good.product_name }}
                            <button v-on:click="removeItemHandler" v-bind:data-id="good.id_product">Удалить</button>
                        </li>
                    </ul>
                </div>
                <div v-else><p>В корзине нет товаров</p></div>
                <div class="total_cost"></div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="dz_05.js"></script>
</body>
</html>