{% extends 'authapp/base.html' %}
{% load static %}

{% block container %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        {% if redirect_to %}
            <input type="hidden" name='redirect-param' value="{{ redirect_to }}">
        {% endif %}
        <input class="form-control" type="submit" value="{{ button_name|upper }}">
    </form>
    <a href="{% url 'authapp:register' %}"
       class="btn btn-round form-control">
        {{ register|upper }}
    </a>
{% endblock %}
