{% extends 'adminapp/base.html' %}
{% load static %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="new_category_form" style="max-width: 400px; margin: 0 auto;">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control" type="submit" value="сохранить">
        </form>
        <a class="btn btn-primary form-control last" href="{% url 'adminapp:products_in_category' category.pk %}" class="form-control">
            назад к продуктам
        </a>
    </div>
{% endblock %}
