{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="house_first_slide">
        <!-- Меню -->
        {% include 'mainapp/includes/main_topnav.html' %}
        <!-- Контент -->
        <div class="block_fr">
            <h3 class="heading">Ваша теплица:</h3>
            <div class="list_fr">
                <ol class="house_content">
                    {% for el_cat in category %}
                        <li>
                            <p>{{ el_cat.name|upper }}</p>
                            <a href="#"><img class="rep_pic" src="{% static 'img/avo_.png' %}" alt="Ваше Авокадо" title="Описание Авокадо"></a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}