{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <div class="index_first_slide">
        <!-- Header -->
        {% include 'mainapp/includes/main_topnav.html' %}
        <!-- Content -->
        <div class="index_first_slide_content">
                <div class="first_slide_title">
                    <h2 class="title_block_text">Grow Yourself - что это?</h2><br>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum similique nobis tempore necessitatibus voluptate officia eum minus, animi natus quo aut temporibus quaerat officiis dolorem facere nam iste vel omnis molestiae possimus
                        deleniti esse. Tempora ipsam doloribus eius expedita, ea est rerum commodi sit fugiat libero, odit ab cupiditate similique?
                    </p>
                </div>
            </div>
    </div>
    <div class="index_second_slide">
            <div class="title_block">
                <h1 class="title_block_text">Отзывы наших фермеров:</h1>
            </div>
            <div class="idx_second_slide_reviews">
                <div class="index_second_slide_block_1">
                    <div class="second_slide_block_image">
                        <img class="img1" src="{% static 'img/second_slide_block1.png' %}" alt="#">
                    </div>
                    <div class="second_slide_block_text">
                        <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Consequuntur recusandae minus laborum dolorem a in, laboriosam facere iusto, dolores omnis perferendis, consequatur eveniet ullam sequi.</p>
                    </div>
                </div>

                <div class="index_second_slide_block_2">
                    <div class="second_slide_block_image">
                        <img class="img1" src="{% static 'img/second_slide_block2.png' %}" alt="#">
                    </div>
                    <div class="second_slide_block_text">
                        <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Consequuntur recusandae minus laborum dolorem a in, laboriosam facere iusto, dolores omnis perferendis, consequatur eveniet ullam sequi.</p>
                    </div>
                </div>
                <div class="index_second_slide_block_3">
                    <div class="second_slide_block_image">
                        <img class="img1" src="{% static 'img/second_slide_block3.jpg' %}" alt="#">
                    </div>
                    <div class="second_slide_block_text">
                        <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Consequuntur recusandae minus laborum dolorem a in, laboriosam facere iusto, dolores omnis perferendis, consequatur eveniet ullam sequi.</p>
                    </div>
                </div>
            </div>
        </div>
    <div class="index_third_slide">
            <div class="third_slide_title">
                <h2>Как это работает?</h2><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore officia minus eaque mollitia accusamus odit soluta sapiente quasi illo. Quasi.</p>
            </div>
            <div class="content_third_slide">
                <div class="third_slide_block_1">
                </div>
                <div class="third_slide_flex_box">
                    <div class="third_slide_block_2"></div>
                    <div class="third_slide_block_3"></div>
                </div>
            </div>
    </div>
{% endblock %}